* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}

:root {
  --primary-color: #162F57;
  --secondary-color: #f77948;
}

body {
  background-color: rgb(243, 243, 243);
}

a { text-decoration: none; }
button { cursor: pointer; border: none; }
input { outline: none;}
input[type=submit] { cursor: pointer; }

.main {
  width: 55%;
  max-width: 550px;
  margin: 30px auto;
}

