* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}

a { text-decoration: none; }
button { cursor: pointer; }

nav {
  background-color: rgb(203, 255, 203);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav a { 
  color: black; 
  margin-left: 10px;
}

.main {
  width: 55%;
  max-width: 550px;
  margin: 30px auto;
}

form {
  background-color: rgb(231, 231, 255);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

