* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}

body {
  background-color: rgb(235, 235, 235);
}

a { text-decoration: none; }
button { cursor: pointer; border: none; }
input { outline: none;}

.main {
  width: 55%;
  max-width: 550px;
  margin: 30px auto;
}

