
.login-page {
    display: flex;
}

.login-page > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.plane-img-container {
    background-image: url("../../assets/images/airplane-window.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.login-page img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}