
#search-bar {
    background-color: #ffffff;
    border: 2px solid rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 5px 5px;
}

#search-bar input[type=number] {
    border: none;
    background-color: transparent;
    width: 100%;
}
