
#search-bar {
    background-color: #ffffff;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 5px 5px;
}

#search-bar input[type=text] {
    border: none;
    background-color: transparent;
    width: 100%;
}

#search-bar button {
    background: transparent;
    
}