
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

form input[type=text], form input[type=email], form input[type=password] {
  background-color: transparent;
  border: none;
  width: 100%;
}

form .text-input-container {
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  width: 170px;
}

/* form input[type=submit] {
  background-color: rgb(255, 123, 46);
  border-radius: 5px;
  width: 150px;
  margin: 10px auto;
  padding: 10px 0px;
  color: #ffffff;
  border: none;
  cursor: pointer;
} */

form h2 {
  text-align: center;
  margin-bottom: 40px;
}

#form-switch-container {
    width: fit-content;
    margin: 10px auto;
}

#form-switch-container span {
    color: rgb(255, 156, 98);
    cursor: pointer;
}

.form-message {
  text-align: center;
  margin-bottom: 20px;
}

.form-message.error {
  color: red;
}
.form-message.success {
  color: rgb(0, 155, 0);
}