
nav {
    background-color: #ffffff;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    max-width: 850px;
    margin: 0px auto;
}

nav a {
    color: #000000;
}

nav .links div a {
    margin-left: 20px;
}

.login-link {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 2px 10px;
    color: black;
}