
nav {
    background-color: #ffffff;
}

nav svg {
    width: 30px;
    height: 30px;
}

nav h2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    max-width: 850px;
    margin: 0px auto;
}

nav .links {
    display: flex;
    align-items: center;
}
nav .links > div {
    margin-left: 30px;
}

nav a {
    color: #000000;
}

.login-link {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 2px 10px;
    color: black;
}